
<link rel="stylesheet" href="/scss/style.css">
<form action="/resigst"  method="POST" id="form" class="form"> 
    <h2 class="form__title">Form regist</h2>
   <div class="form__controll">
       <label for="userName" class="form__controll--label" >userName</label>
       <input type="text" class="form__controll--input" name="userName" placeholder="Enter userName" value="duongbaxinh">
       <small class="form__controll--small">Error Username</small>
   </div>
   
   <div class="form__controll">
       <label for="Email" class="form__controll--label">Email</label>
       <input type="email" name="email" class="form__controll--input" placeholder="Enter Email" value="xinh@gmail.com">
       <small class="form__controll--small">Error Email</small>
   </div>
    <div class="form__controll">
       <label for="phone" class="form__controll--label">phone</label>
       <input type="phone" name="phone" class="form__controll--input" placeholder="Enter phone" value="0903293232">
       <small class="form__controll--small">Error phone</small>
   </div>
   <div class="form__controll">
       <label for="Password" class="form__controll--label">Password</label>
       <input type="password" name="passWord" class="form__controll--input" placeholder="Enter Password" value="12345">
       <small class="form__controll--small">Error Password</small>
   </div>
   <input class="form__button" type="submit" value="submit"/>
</form>
