<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="ProjectJs/styles.css" />
    <link rel="stylesheet" href="style/index.css" />
    <title>Document</title>
  </head>
  <body>

    <div class="header">
      <div class="header__logo">
        <img src="ProjectJs/public/image/logo.png" alt="" />
      </div>
      <div class="header__links">
        <div class="header__links--home"><a href="getHome">Home</a></div>
        <div class="header__links--home">About us</div>
        <div class="header__links--home">Menu</div>
        <div class="header__links--home">Feature</div>
        <div class="header__links--home">Contact us</div>
      </div>
      <button class="header__button">Booking Now</button>
    </div>
    <div class="main">
      <div class="main__top">

        <div class="main__top--header"><a href="getHome">Trang Chu >>>>>></a> <span><%= datas.information.foodName %> </span></div>
        <img
          class="main__top--image"
          src="/<%= datas.avarta %> "
          alt=""
        />
        <div class="main__top--groupIcon">
          <div class="main__top--item">
            <div class="main__top--icon"></div>
            <p class="main__top--text"></p>
            <p class="main__top--text"></p>
          </div>
          <div class="main__top--item">
            <div class="main__top--icon"></div>
            <p class="main__top--text"></p>
            <p class="main__top--text"></p>
          </div>
          <div class="main__top--item">
            <div class="main__top--icon"></div>
            <p class="main__top--text"></p>
            <p class="main__top--text"></p>
          </div>
          <div class="main__top--item">
            <div class="main__top--icon"></div>
            <p class="main__top--text"></p>
            <p class="main__top--text"></p>
          </div>
        </div>
      </div>
      <div class="main__body">
        <h1>Cach lam <%= datas.information.foodName %> </h1>
        <h2 class="main__body--congThuc">CONG THUC</h2>
        <p class="main__body--gioiThieu">
          Một loại bánh có thể dễ tới mức nào? Đó là cho tất cả nguyên liệu vào
          máy xay sinh tố, xay mịn, đổ vào khuôn rồi cho vào lò 😁 Bạn không đọc
          nhầm đâu ạ, món cheesecake nướng cháy trứ danh này thực sự có thể làm
          đơn giản như vậy đấy, nhà bạn nào chỉ có NCKD cũng bon chen thoải mái
          nha. Công thức burnt cheesecake thì mình đã có rồi, nhưng phiên bản
          hôm nay là kiểu bên ngoài thì mềm, ở giữa thì hơi chảy, ăn vào tan
          ngay trong miệng, cực kì hợp cho những ai thích vị phomai nhưng không
          ăn được các món quá ngấy.
        </p>

        <p class="main__body--lable">Nguyen Lieu</p>
        <h1>Cach lam ------</h1>
        <ul class="main__body--">
          <!--  ejs -->
          <li>200 gram kem phomai (cream cheese), để mềm ở nhiệt độ phòng</li>
          <li>1 thìa cafe nước cốt chanh tươi (không bắt buộc)</li>
          <li>20 gram sữa đặc</li>
          <li>40 gram đường xay + 1 nhúm muối nhỏ</li>
          <li>250 gram kem tươi</li>
          <li>5 lòng đỏ trứng gà</li>
          <li>1 thìa cafe tinh chất vani</li>
          <!-- ejs -->
        </ul>
      </div>

      <h4 main__body--cachLam>Cach lam</h4>
      <!-- ejs -->
      <p class="main__body--nameCL">1. Chuẩn bị:</p>
      <!-- ejs -->
      <p class="main__body--buoc">
        – Làm nóng NCKD ở 190 độ C trước 10 phút. Nếu bạn dùng lò thì làm nóng ở
        khoảng 210 – 220 độ C
      </p>
      <p class="main__body--buoc">
        – Làm nóng NCKD ở 190 độ C trước 10 phút. Nếu bạn dùng lò thì làm nóng ở
        khoảng 210 – 220 độ C
      </p>
      <p class="main__body--buoc">
        – Làm nóng NCKD ở 190 độ C trước 10 phút. Nếu bạn dùng lò thì làm nóng ở
        khoảng 210 – 220 độ C
      </p>
    </div>
  </body>
</html>
